.list{
    margin:40px 10px 10px 400px;
    width: 20px;
    height: 20px;
    
}
.name{
    margin:20px 400px 5px 10px;
    font-size: 30px;
    
}
body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}